<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="g3way.stat.mapper.StatMapper">

<select id="getEmdInfoByPoint" resultType="UmdVo">
	SELECT 
    "EMD_CD"      AS emdCd,
    "SIDO_NM"     AS sidoNm,
    "SGG_NM"      AS sggNm,
    "EMD_KOR_NM"  AS emdKorNm,
    "TOT_NMPR_C"  AS totNmprC,
    "MALE_NMPR_"  AS maleNmpr,
    "FEML_NMPR_"  AS femlNmpr,
    "HH_CNT"      AS hhCnt,
    "STATS_YM"    AS statsYm
  FROM board."INCHEON_UMD_POPP_STAT"
  WHERE ST_Contains(
    geom,
    ST_Transform(
      ST_SetSRID(ST_MakePoint(#{lng}, #{lat}), 4326),
      5186
    )
  )
  LIMIT 1
</select>


<select id="sidoList" resultType="SidoVo">
	SELECT
	    "SIDO_NM"                                   AS sidoNm,
	    "SGG_CNT"                                   AS sggCnt,
	    "UMD_CNT"                                   AS umdCnt,
	    "LI_TONG_CN"                                AS liTongCn,
	    "TOT_NMPR_C"                                AS totNmprC,
	    "HH_CNT"                                    AS hhCnt,
	    "HH_NMPR"                                   AS hhNmpr,
	    "MALE_NMPR_"                                AS maleNmpr,
	    "FEML_NMPR_"                                AS femlNmpr,
	    "MALE_FEML_"                                AS maleFeml,
	    "LSMT_NMPR_"                                AS lsmtNmpr,
	    "TOT_NMPR_L"                                AS totNmprL,
	    "STATS_YM"                                  AS statsYm,
	    "BJUMD_CNT"                                 AS bjumdCnt,
	    "BJLI_CNT"                                  AS bjliCnt
	FROM board."INCHEON_SIDO_POPP_STAT"
</select>

<select id="gunguList" resultType="GunguVo">
	SELECT 
	    "SGG_NM" AS sggNm,
	    SUM("TOT_NMPR_C") AS totNmprC
	FROM 
	    board."INCHEON_UMD_POPP_STAT"
	GROUP BY 
	    "SGG_NM"
	ORDER BY 
	    SUM("TOT_NMPR_C") DESC
</select>

<select id="sggList" resultType="SggVo">
	SELECT
	    "SGG_NM" AS sggNm
	FROM board."INCHEON_SGG_POPP_STAT"
</select>

<select id="getUmdListBySgg" resultType="String" parameterType="String">
  SELECT "EMD_KOR_NM"
  FROM board."INCHEON_UMD_POPP_STAT"
  WHERE "SGG_NM" =  #{sggNm} 
  ORDER BY "EMD_KOR_NM"
</select>

<select id="getSggStats" resultType="SggVo" parameterType="String"> 
	SELECT
	    "SGG_NM"      AS sggNm,       
	    "TOT_NMPR_C"  AS totNmprC,    
	    "HH_CNT"      AS hhCnt,       
	    "HH_NMPR"     AS hhNmpr,      
	    "MALE_NMPR_"  AS maleNmpr,    
	    "FEML_NMPR_"  AS femlNmpr,    
	    "MALE_FEML_"  AS maleFeml,    
	    "LSMT_NMPR_"  AS lsmtNmpr,    
	    "TOT_NMPR_L"  AS totNmprL
	FROM board."INCHEON_SGG_POPP_STAT"
	WHERE "SGG_NM" = #{sggNm}
</select>

</mapper>